.cart {
    margin: 5rem 2rem;
    border: 2px solid #540075;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .cart h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #540075;
  }


  button {
    background: #540075;
    color: white;
    border: 1px solid #540075;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font: inherit;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover,
  button:active {
    background: #790fa3;
    border-color: #790fa3;
  }
  

.product-list {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
  }
  
.product-item {
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    height: 25%;
    width: 50%;
    padding: 1rem;

  }
  
  
  .product-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    flex: 1;
  }
  
  .product-item__content {
    padding: 2rem;
    text-align: center;
  }
  
  .product-item h2,
  .product-item h3,
  .product-item p {
    margin: 0 0 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
  }
